@font-face {    
font-family: 'Lexend Deca';       
src: url('https://static1.squarespace.com/static/5e38f6b168dbb6079651e808/t/5f5684129a612620ec07b01b/1599505426228/LexendDeca-Regular.ttf');  }

* {
 font-family: Lexend Deca;
}

body {
  background-color:#1D1B1B
}
